* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    font-family: 'Roboto Medium', sans-serif;
}
header {
    margin-bottom: 4em
}
nav h1 {
    width:100px;
	height:50px;
	font-size:0;
	background: url("img/UEFACLogo.png");
	position: fixed;
    top: 10px;
    left: 45%;
    z-index: 1031;
	background-repeat:no-repeat;
}
h2 {
    font-size: 2em;
    color:#00004b;
}
th, td {
    color:#00004b;
}
div > a {
    background:#00004b;
    color: white;
    padding: 0.5em;
}
/*Estilos crear goleador*/
#container {
    background: url('img/backgrounduefacl2.png') no-repeat center center;
    background-size: cover;
    height:1500px;
}
#container h2 {
    font-size: 2em;
    color:white;
}
#container label {
    color: white;
}
/*Estilos Login*/
#contenedor {
    background: url('img/backgrounduefacl.png') no-repeat center center;
    background-size: cover;
    height:1500px;
}

#contenedor nav h1 {
    width:100px;
	height:50px;
	font-size:0;
	background: url("img/UEFACLogo.png");
	position: fixed;
    top: 10px;
    left: 45%;
    z-index: 1031;
	background-repeat:no-repeat;
}
#contenedor h2 {
    font-size: 2em;
    color:white;
}
#contenedor label {
    color: white;
}